body
{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  text-align: center;
}

#main
{
  width: 626px;
  margin: 64px auto 64px;

}

h1
{
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #3F3D56;
}

h1 span
{
  color: #EE24FF;
  font-weight: 700;
}

p
{
  color: #828282;
  font-weight: 500;
}

p span, a
{
  color: #3F3D56;
  font-weight: 700;
}

#line
{
  height: 0;
  border-top: 1px solid #ECEFF2;
  width: 390px;
  margin: 0 auto 16px;

}

#footer a+a
{
  margin-left: 42px;
}

a
{
  text-decoration: none;
}

#wave
{
  margin: 40px auto 0;
}

#wave img
{
  margin-bottom: 0;
}